@font-face {
  font-family: NetflixSansRegular;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NetflixSansRegular.ttf");
}

@font-face {
  font-family: NetflixSansBold;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/NetflixSansBold.ttf");
}
